@charset "UTF-8";
.calendario-dispon-dias {
  display: flex;
}
.calendario-dispon-dias .calendario-dispon-dia {
  flex: 7.1428571429%;
  flex-shrink: 1;
  flex-grow: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.calendario-dispon-infos {
  display: flex;
}
.calendario-dispon-infos .calendario-dispon-labels {
  flex: 10%;
  flex-grow: 0;
}
.calendario-dispon-infos .calendario-dispon-dias {
  flex: 90%;
}

.calendario-dispon-label {
  width: 100%;
  box-sizing: border-box;
  font-size: 11px;
  color: #32909F;
  font-weight: 600;
  padding: 0 8px;
  border-top: 1px solid #DDD;
}
.calendario-dispon-label::first-line {
  font-size: 14px;
}

.calendario-dispon-semana {
  text-align: center;
  background: rgba(0, 0, 0, 0.08);
}

.calendario-dispon-campo {
  text-align: center;
  vertical-align: middle;
  position: relative;
}
.calendario-dispon-campo:not(:last-of-type) {
  border-bottom: 1px solid #DDD;
}
.calendario-dispon-campo input {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  border: 1px solid #dfdfdf;
  height: 22px;
}
.calendario-dispon-campo input:focus {
  outline: none;
}
.calendario-dispon-campo input.-salvo {
  background: #f7ffea;
  border-color: rgba(0, 128, 0, 0.15);
}
.calendario-dispon-campo input.-pendente {
  background: #fcefef;
  border-color: rgba(255, 0, 0, 0.15);
}

.calendario-dispon-dia {
  border-top: 1px solid #DDD;
}
.calendario-dispon-dia.-Mon:nth-child(odd), .calendario-dispon-dia.-Tue:nth-child(odd), .calendario-dispon-dia.-Wed:nth-child(odd), .calendario-dispon-dia.-Thu:nth-child(odd), .calendario-dispon-dia.-Fri:nth-child(odd) {
  background: #EFEFEF;
}
.calendario-dispon-dia.-Mon:nth-child(even), .calendario-dispon-dia.-Tue:nth-child(even), .calendario-dispon-dia.-Wed:nth-child(even), .calendario-dispon-dia.-Thu:nth-child(even), .calendario-dispon-dia.-Fri:nth-child(even) {
  background: #E7E7E7;
}
.calendario-dispon-dia.-Sat:nth-child(odd), .calendario-dispon-dia.-Sun:nth-child(odd) {
  background: rgba(255, 160, 122, 0.3);
}
.calendario-dispon-dia.-Sat:nth-child(even), .calendario-dispon-dia.-Sun:nth-child(even) {
  background: rgba(255, 160, 122, 0.4);
}

.calendario-dispon-data, .calendario-dispon-status {
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  padding: 0 6px;
  border-bottom: 1px solid #DDD;
}

.calendario-dispon-quarto {
  font-size: 20px;
  color: #32909F;
  font-weight: 600;
  text-align: center;
  padding: 8px 0;
  width: auto;
}

.calendario-dispon {
  width: 100%;
  font-size: 14px;
  background: #FFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border-collapse: collapse;
  box-sizing: border-box;
}
.calendario-dispon .-semana,
.calendario-dispon .-data,
.calendario-dispon .calendario-dispon-status,
.calendario-dispon .-qtde {
  line-height: 28px;
  height: 28px;
  box-sizing: border-box;
}
.calendario-dispon .-valor {
  height: 45px;
  box-sizing: border-box;
}
.calendario-dispon:not(:first-child) {
  margin-top: 30px;
}

.status-dispon {
  color: transparent;
  width: 14px;
  height: 14px;
  display: inline-block;
}
.status-dispon::before {
  font-family: "icomoon";
}
.status-dispon.-publicado::before {
  content: "";
  color: green;
}
.status-dispon.-nao-publicado::before {
  content: "";
  color: #900;
}

.status-reserva, .status-pedido {
  display: inline-block;
  border-radius: 75px;
  padding: 3px 7px;
  width: 120px;
  box-sizing: border-box;
  text-align: center;
}
.status-reserva.-pendente, .-pendente.status-pedido {
  background: #EEE;
  color: #777;
}
.status-reserva.-confirmada, .-confirmada.status-pedido {
  background: rgba(142, 193, 171, 0.25);
  color: #32909F;
}
.status-reserva.-cancelada, .-cancelada.status-pedido {
  background: rgba(153, 0, 0, 0.25);
  color: #900;
}

.status-pedido.-pendente {
  background: #EEE;
  color: #777;
}
.status-pedido.-pago {
  background: rgba(142, 193, 171, 0.25);
  color: #32909F;
}
.status-pedido.-cancelado {
  background: rgba(153, 0, 0, 0.25);
  color: #900;
}

.filtro-registros-mapa {
  display: flex;
  margin: 0;
}
.filtro-registros-mapa *:not(:last-child) {
  margin-right: 10px;
}

.dispon-config-quarto {
  display: flex;
}
.dispon-config-quarto > *:not(:last-child) {
  margin-right: 10px;
}

.info-reserva {
  background: #FFF;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  padding: 4px 10px;
  width: 100%;
  box-sizing: border-box;
}
.info-reserva-botoes {
  text-align: center;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #e9e9e9;
}
.info-reserva-botoes > .botao-salvar,
.info-reserva-botoes > .botao-cancelar {
  display: block;
  margin: auto;
}
.info-reserva-botoes > .botao-salvar {
  margin-bottom: 5px;
}
.info-reserva-botoes > .botao-cancelar {
  margin-top: 5px;
}
.info-reserva-rotulo {
  display: block;
  color: #32909F;
}
.info-reserva-linha {
  display: flex;
}
.info-reserva-dado {
  flex: 50%;
  margin: 5px 0;
}

.botao, .botao-mostrar-oculto, .botao-cancelar {
  display: inline-block;
  border: none;
  border-bottom: 4px solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  font-size: 11px;
}
.botao:hover, .botao-mostrar-oculto:hover, .botao-cancelar:hover {
  cursor: pointer;
}
.botao:active, .botao-mostrar-oculto:active, .botao-cancelar:active, .botao:focus, .botao-mostrar-oculto:focus, .botao-cancelar:focus {
  outline: none;
}

.botao-cancelar {
  background: #ca3133;
  border-bottom-color: #962626;
}
.botao-cancelar:hover {
  background: #bc3335;
}

.botao-mostrar-oculto {
  background: #8b8ac1;
  border-bottom-color: #6a6a96;
}
.botao-mostrar-oculto:hover {
  background: #7f7fb4;
}

.filtro-reservas {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}
.filtro-reservas > .filtro-registros {
  width: 590px;
  margin-right: 10px;
}
.filtro-reservas > .form-controle-data {
  width: 150px;
  margin-right: 10px;
}

/*# sourceMappingURL=aparthotel.tema.css.map */
