.upload-arquivos {
    // Tamanho
    width: 100%;
    height: 300px;

    // Visual
    background: #FFF;
    border: 3px dashed #EEEE;

    &-campo {
        // Tamanho
        width: 100%;
        height: 100%;

        // Visual
        display: block;
    }

    [type="file"] {
        // Posicionamento
        position: fixed;
        top: -999px;
        left: -999px;
        z-index: -1;
    }
}